package site

templ Index(stats UsageStatistics) {
	@CommonSite(EmbedInformation{}, "Main Page", IndexContent(stats))
}

templ IndexContent(stats UsageStatistics) {
	@GeneralLayout(stats) {
		<h1>nya</h1>
	}
}