.beatmap-element-container {
    margin-top: 16px;
}

.beatmap-element {
    background-color: rgba(0, 255, 21, 0.15);
    width: 96%;
    min-height: 100px;

    margin-left: 2%;
    margin-bottom: 16px;

    z-index: 50;

    background-clip:padding-box; 
}

.beatmap-element-anchor {
    text-decoration: none;
    color: white;
}

.beatmap-element p {
    margin: 0;
}

.beatmap-thumbnail {
    margin-top: 8px;
    margin-left: 8px;
}

.beatmap-metadata {
    font-size: 14pt;
    padding-top: 5px;
}

.left-side-container {  
    display: grid;
    grid-template-columns: 100px fit-content(100%);
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "thumbnail metadata"
      "thumbnail extra-metadata";

    float: left;
}
  
.metadata { grid-area: metadata; }
  
  
.thumbnail { grid-area: thumbnail; }
  
.extra-metadata { 
    margin-top: -8px;
    grid-area: extra-metadata; 
}

.beatmap-rating {
    margin-left: 8px;
}

.right-side-container {
    margin-right: 16px;
    text-align: right;
}

.right-side-container h3 {
    padding-top: 8px;
    margin-bottom: 12px;
}

.ranked-status {
    padding-right: 8px;
}