.login-text {
    text-align: center;
    font-size: 16pt;
}

.login-items-box {
    margin: 16px;
    margin-left: 32px;
    margin-right: 32px;
    font-size: 16pt;
}

.login-items-box b {
    padding-bottom: 32px;
}


.login-items-box input[type=text], input[type=password] {
    width: 100%;

    background-color: rgb(92, 92, 92);

    border: 2px solid white;
    border-radius: 4px;

    font-size: 14pt;
    color: white;

    margin-top: 8px;
    margin-bottom: 5px;
}

.login-items-box input[type=submit] {
    background-color:  #5ba2ad;

    border: 2px solid white;
    border-radius: 4px;

    font-size: 14pt;
    color: white;

    margin-top: 16px;
    margin-bottom: 5px;

    padding-left: 16px;
    padding-right: 16px;
}