.navbar {
    display: flex;
    align-items: left;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    display: flex;
    align-items: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar p {
    display: flex;
    align-items: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
    border: 0px;
}

.navbar a:hover {
    background: rgb(221, 221, 221);
    color: black;
    transition: 0.3s;
}

.navbar .waffle-text {
    color: #74cedc;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar .waffle-text:hover {
    color: white;
    background-color: #74cedc;
    transition: 0.3s;
}

.navbar .right-align {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.navbar .login-area p {
    padding-right: 24px;
}

.navbar .login-area a {
    padding: 0;
}

.navbar .login-area img {
    align-items: center;
    margin-top: 8px;
    padding-right: 16px;
    height: 32px;   
}

.main {
    margin-top: 30px;
}